html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

.header {
    display: block;
    padding: 20px 10px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(99, 99, 99);
}

a.active:hover{
    font-style: italic;
}
  
.header a {
    float:none;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}

.header a:hover {
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(158, 162, 158);
    color: black;
  }

.header a.active {
    background-color: rgb(158, 162, 158);
    color: white;
    margin: 5px;
  }

.header-right {
    float: right;
  }

.header-left{
    float: inline-start;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.flexbox-item {
    padding: 5px;
    margin: 5px;
    background-color: rgba(157, 207, 238, 0.94);
}

/*.flexbox-item-1 {
    min-height: 80px;
    min-width: 1200px;
    border-radius: 25px;
    border: 2px double #2d2c2c;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.934);
    position: relative;
    padding-top: 60px;
}*/

.flexbox-item-2 {
    min-width: 900px;
    min-height: 600px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #ffffff;
    background-color: rgb(239, 189, 247);
    top:80px;
}

.me {
    display: block;
    max-height: 100px;
    max-width: 900px;
    /*border: 2px solid grey;*/
    align-content: center;
    justify-content: center;
}

img.round-corners {
    border-radius: 30px;
    border: 1px solid white;
  }

a.resume:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color .5s;
}

.flexbox-item-3 {
    min-width: 900px;
    min-height: 600px;
    border-radius: 25px;
    border: 3px solid #ffffff;
    text-align: center;
    align-content: center;
    /*background-color: rgb(244, 244, 168);*/
    background-color: rgb(202, 233, 192);
}

/*.flexbox-item-4 {
    min-width: 900px;
    min-height: 600px;
    border-radius: 25px;
    border: 3px solid #ffffff;
    text-align: center;
    align-content: center;
} styling for photos box, to be added later*/

.flexbox-item-5 {
    min-width: 900px;
    min-height: 600px;
    border-radius: 25px;
    border: 3px solid #ffffff;
    text-align: center;
    align-content: center;
}

body {
    background-color: #3c3c3c;
    padding-top: 60px;
  }